body{
    background-color: lightskyblue;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-style: normal;
    color:darkblue;
    text-align: center;
    text-decoration: underline;
}
table{
    font-family: verdana;
    color:black;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    background-color: blueviolet;
    border-collapse: collapse;
    border: 4px solid #000000;
    border-style: dashed;
}

tabel.inner{
  border: 10px;

}
input[type=text],input[type=email],input[type=number]{
    width: 50%;
    padding: 6px 12px;
    margin: 5PX 0;
    box-sizing: border-box;
}
input[type=submit],input[type=reset]{
width: 20px;
padding: 8px 12px;
margin: 5px 0;
box-sizing: border-box;
}
